extends ../layouts/main 

block content 
    .container 
        .header
            h1 Orders
        
        table.products-table
            thead
                tr
                    th ID Code
                    th Customer 
                    th Product
                    th Quantity
                    th Address 
                    th Total Price
                    th Status
                    th Actions
            tbody
                each order in orders
                    tr
                        td.wrap-text= order._id  
                        td= order.customerName 
                        td= order.productName
                        td= order.productQuantity
                        td.wrap-text= order.address 
                        td $50
                        td.status 
                            if order.status === 'Pending'
                                span.status.pending Pending
                            else if order.status === 'Approved'
                                span.status.approved Approved
                            else if order.status === 'Canceled'
                                span.status.canceled Canceled
                        td.actions
                            if order.status === 'Pending'
                                form.approve-order-form(action=`/orders/approve/${order._id}` method="POST")
                                    button.approve-btn(type="submit") Approve
                                form.cancel-order-form(action=`/orders/cancel/${order._id}` method="POST" onsubmit="return confirm('Are you sure you want to cancel this order?');")
                                    button.cancel-btn(type="submit") Cancel
                            else 
                                span.no-actions No actions available
