extends ../layouts/main 

block content 
    .container 
        .header
            h1 All Products
            button.add-btn Add Product 
        
        table.products-table
            thead
                tr
                    th ID Code
                    th Product
                    th Category
                    th Price
                    th Quantity
                    th Status
                    th Actions
            tbody
                each product in products
                    tr(class=product.isAvailable ? '' : 'unavailable-product')
                        td= product._id
                        td
                            a(href=`products/${product._id}`)= product.name
                            if !product.isAvailable 
                                span.unavailable-label (Unavailable)
                        td= product.category 
                        td $#{product.price}
                        td= product.quantity
                        td
                            if product.isAvailable
                                span.status(class=product.quantity > 0 ? 'in-stock' : 'out-of-stock')
                                    = product.quantity > 0 ? 'In Stock' : 'Sold Out'
                            else 
                                span.status.unavailable Not Available
                        td.actions
                            button.edit-btn
                                i.fas.fa-edit
                            button.delete-btn
                                i.fas.fa-trash