extends ../layouts/main

block append head 
    link(rel="stylesheet", href="/css/product-detail.css")

block content
    .container
        .header
            h1= product.name
            p.product-id ID: #{product._id}
        
        form.edit-product-form(action=`/products/update/${product._id}` method="POST")
            .form-group
                label(for="name") Product Name:
                input#name(type="text" name="name" value=product.name required)
            
            .form-group
                label(for="category") Category:
                input#category(type="text" name="category" value=product.category required)
            
            .form-group
                label(for="price") Price:
                input#price(type="number" name="price" value=product.price step="0.01" required)
            
            .form-group
                label(for="quantity") Quantity:
                input#quantity(type="number" name="quantity" value=product.quantity required)

            .form-group 
                label(for="image") Image: 
                input#image(type="text" name="image" value=product.image required)

            .form-actions
                button.save-btn(type="submit") Save Changes
                a.cancel-btn(href="/admin/products") Cancel    

        .status-zone
            form(action=`/products/status/${product._id}` method="POST")
                if product.isAvailable
                    button.unavailable-btn(type="submit") Make Unavailable
                else
                    button.available-btn(type="submit") Make Available
            form.delete-product-form(action=`/admin/products/${product._id}/delete` method="POST" onsubmit="return confirm('Are you sure you want to delete this product?');")
                button.delete-btn(type="submit")
                    i.fas.fa-trash
                    span Delete Product
